.canvas-editor-area {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-bg-primary, #1a1a1a);

  &:not(.is-split):not(.is-grid) {
    .canvas-editor-area__primary {
      width: 100%;
      height: 100%;
    }
  }

  &.is-horizontal {
    flex-direction: row;

    .canvas-editor-area__primary,
    .canvas-editor-area__secondary {
      height: 100%;
      min-width: 200px;
    }
  }

  &.is-vertical {
    flex-direction: column;

    .canvas-editor-area__primary,
    .canvas-editor-area__secondary {
      width: 100%;
      min-height: 100px;
    }
  }

  &.is-grid {
    flex-direction: column;

    .canvas-editor-area__top-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 100px;

      .canvas-editor-area__primary,
      .canvas-editor-area__secondary {
        height: 100%;
        min-width: 100px;
        overflow: hidden;
      }
    }

    .canvas-editor-area__tertiary {
      width: 100%;
      min-height: 100px;
      overflow: hidden;
    }
  }

  &__primary,
  &__secondary,
  &__tertiary {
    position: relative;
    overflow: hidden;
  }

  &__top-row,
  &__bottom-row {
    position: relative;
    overflow: hidden;
  }
}
